// out: "../../style/aboutProduct.css", compress: true, sourceMap: false

.contant_about_product {
    ///////////
    position: relative;
    z-index: 99;
    ///////////
    margin-top: 100px;

    @media screen and (max-width: 1200px) {
        margin-top: 80px;
    }

    @media screen and (max-width: 1000px) {
        margin-top: 60px;
    }

    &_title {
        color: #FFF;
        font-size: 24px;
        font-weight: 600;
        line-height: 100%;
        margin-bottom: 15px;

        @media screen and (max-width: 1200px) {
            font-size: 20px;
        }

        @media screen and (max-width: 1000px) {
            font-size: 15px;
        }
    }

    &_parag {
        color: #9D9AA6;
        font-size: 17px;
        line-height: 150%;

        @media screen and (max-width: 1200px) {
            font-size: 15px;
        }

        @media screen and (max-width: 1000px) {
            font-size: 12px;
        }
    }
}

.container_random_product {
    margin-top: 70px;

    @media screen and (max-width: 1000px) {
        margin-top: 50px;
    }
}

.title_random_product {
    margin-bottom: 35px;
    color: #FFF;
    font-size: 32px;
    font-weight: 600;
    line-height: 130%;

    @media screen and (max-width: 1200px) {
        font-size: 30px;
    }

    @media screen and (max-width: 1000px) {
        font-size: 20px;
    }
}

.img_wallper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    filter: brightness(0.2);
    z-index: 0;

    @media screen and (max-width: 500px) {
        filter: brightness(1);
        filter: blur(75px);
    }
}