// out: "../style/cardTopFour.css", compress: true, sourceMap: false

.block_card {
    width: 25%;

    &:not(:last-child) {
        margin-right: 20px;
    }
}

.contant_card {
    position: relative;
    height: 450px;
    width: 100%;

    &_image {
        width: inherit;
        height: inherit;
        object-fit: cover;
        border-radius: 10px;

        &_btn {
            position: absolute;
           /*  opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s; */

            &.basket {
                bottom: 10%;
                left: 35%;
            }

            &.top {            
                top: 3%;
                left: 10%;
                font-style: normal;
                font-weight: 800;
                font-size: 16px;
                line-height: 130%;
                font-style: italic;
                background-color: #06030e;
                padding: 5px 10px;
                border-radius: 5px;
            }

            &.favorite {            
                top: 3%;
                right: 7%;
            }
        }
    }

   /*  &:hover > .contant_card_image {
        filter: brightness(0.5);

        &_btn {
            opacity: 1;
            visibility: visible;
        }
    } */
}