// out: "../style/footer.css", compress: true, sourceMap: false

.footer {
    margin-top: 100px;
    margin-bottom: 50px;

    &Parag {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #63686D;
        margin: 40px 0 30px;
    }

    &DawnInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;

        &A {
            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            color: #4277FF;
        }

        &Text {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            color: #63686D;
        }

        &Icon {
            &:not(:last-child) {
                margin-right: 15px;
            }

            &:hover  path {
                fill: #77BE1D;
            }
        }
    }
}

.contantPay {
    text-align: center;

    &Icon {

        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}

.contantAbout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 50px;

    &Company {
        &Title {
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 130%;
            color: #FFFFFF;
            margin-bottom: 30px;
        }

        &Ul {
            list-style: none;
            padding: 0;

            &Li {
                font-style: normal;
                font-weight: 400;
                font-size: 19px;
                line-height: 130%;
                color: #CDCDCF;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    &Protect {
        display: flex;
        align-items: center;
        justify-content: start;

        &Block {
            display: flex;
            align-items: center;

            &:nth-child(1) {
                margin-right: 35px;
            }

            &Img {
                width: 45px;
                height: 30px;
            }
        }

        &Text {
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            &Span {
                font-style: normal;
                font-weight: 400;
                font-size: 13.2976px;
                line-height: 16px;
                color: #FFFFFF;
            }

            &SpanTwo {
                font-style: normal;
                font-weight: 700;
                font-size: 13.2976px;
                line-height: 16px;
                color: #FFFFFF;
            }
        }
    }
}