// out: "../style/mainMenu.css", compress: true, sourceMap: false

.container_card_top_four {
    display: flex;
    justify-content: center;
}

.section_contant_main {
    margin-top: 70px;

    &_title {
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 130%;
    }
}