// out: "../../style/btnClose.css", compress: true, sourceMap: false

.btn_close {
    width: 26px;
    height: 21px;
    fill: #1E1C27;

    @media screen and (max-width: 1200px) {
        width: 20px;
        height: 17px;
    }

    @media screen and (max-width: 1000px) {
        width: 17px;
        height: 14px;
    }

    &Active {
        width: 26px;
        height: 21px;
        fill: #77BE1D;

        @media screen and (max-width: 1200px) {
            width: 17px;
            height: 14px;
        }
    }
}

.btn_close_basket {
    width: 15px;
    height: 15px;

    @media screen and (max-width: 1200px) {
        width: 12px;
        height: 12px;
    }

    @media screen and (max-width: 1000px) {
        width: 10px;
        height: 10px;
    }
}


.btn_minus_basket {
    width: 15px;
    height: 3px;

    @media screen and (max-width: 1200px) {
        width: 13px;
        height: 3px;
    }

    @media screen and (max-width: 1000px) {
        width: 10px;
        height: 3px;
    }
}

.btn_plus_basket {
    width: 15px;
    height: 15px;

    @media screen and (max-width: 1200px) {
        width: 13px;
        height: 13px;
    }

    @media screen and (max-width: 1000px) {
        width: 10px;
        height: 10px;
    }
}